<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
    {{ $.Scratch.Add "title" "" }}
    {{ if eq .Type "archives" }}
    {{ $.Scratch.Set "title" "Archives" }}
    {{ else if ne .Title .Site.Title }}
    {{ $.Scratch.Set "title" .Title }}
    {{ end }}
    <title>{{ if $.Scratch.Get "title" }}{{ $.Scratch.Get "title" }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="{{ range .Keywords }}{{ . }},{{ end }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="{{ .RSSLink }}" rel="alternate" title="{{ .Site.Title }}" type="application/atom+xml">
    <link href="{{ .Site.BaseURL }}/images/fav.ico" rel="shortcut icon">
    <style>
    {{ partial "css/screen.css" . | safeCSS }}
    </style>

    <link href="{{ .Site.BaseURL }}/css/custom.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="{{ .Site.BaseURL }}/css/github-markdown.css" rel="stylesheet" type="text/css">

    <link href='{{ .Site.BaseURL }}/css/Slackey.css' rel='stylesheet' type='text/css'>
    <link href='{{ .Site.BaseURL }}/css/Fjallaone.css' rel='stylesheet' type='text/css'>
    <link href='{{ .Site.BaseURL }}/css/Amethysta.css' rel='stylesheet' type='text/css'>
	<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![}]-->

    <script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery-tapir.js"></script>

    {{ template "_internal/google_analytics_async.html" . }}

    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/hljs.css">
    <script src="{{ .Site.BaseURL }}/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?5bb9b9d406e3381971859973a2ca3583";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</head>

<!--边框标签图片 -->
<a href="https://github.com/{{ .Site.Params.theme.github_user }}"><img style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px;" src="{{ .Site.BaseURL }}/images/right-graphite@2x.png" alt="Fork me on GitHub"></a>

<!--google翻译 -->
{{ if $.Site.Params.theme.googleTranslate }}
<div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'zh-CN', multilanguagePage: true, gaTrack: true, gaId: 'UA-113235655-1'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{{ end }}

<!--网易音乐 -->
{{ if $.Site.Params.theme.music }}
{{ $musicId := .Site.Params.theme.music_id }}
{{ $auto := .Site.Params.theme.auto_play }}
<link href="{{ .Site.BaseURL }}/css/music-player.css" media="screen, projection" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/music-player.js"></script>
<iframe class="player"  frameborder="no" border="0" marginwidth="0" marginheight="0" width=280 height=86 src="https://music.163.com/outchain/player?type=2&id={{ $musicId }}&auto={{ $auto }}&height=66"></iframe>
{{ end }}
